@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #333 !important;
    --obj-color: #444 !important;
    --alt-obj-color: #707070 !important;
    --text: #fff !important;
  }

  img {
    filter: invert(100%);
  }
}
