@import "dark.css";
@import "light.css";

body {
  background-color: var(--bg-color);
  color: var(--text);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-color);
    color: var(--text);
  }
  img {
    filter: invert(100%);
  }
}

.container {
  padding: 2px 16px;
  margin-bottom: 20px;
}

.health-title {
    text-align:center;
    margin: 1em auto 1em auto;
}

div.card {
  width: 30vw;
  border-radius: 24px;
  padding: .9em;
  margin: auto;
  margin-bottom: 1em;
  background-color: var(--bg-color);
  border: 2px solid grey;

}

div.card h2 {
  text-align: left;
  margin: 0;
  margin-bottom: 0.5em;
}

div.sleep-progress {
  width: 90%;
}

a {
  text-decoration: none;
}

p.sleep-goal {
  display: inline-block;
}

h2 {
  text-align: center;
}

div.sleep-inputs {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto;
}

div.exercise-inputs {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
}

.settings-button {
  display: inline-block;
  border: none;
  background-color: white;
  height: 0px;
  padding: 0;
}

#last-night-sleep {
  display: inline-block;
}

#last-exercise {
    display: inline-block;
  }

#sleep-amount {
  background-color: rgb(134, 134, 240);
  width: 0%;
  height: 100%;
}

#sleep-container {
  height: 35px;
  background: rgba(124, 122, 122, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
#runner {
  background-color: rgb(46, 209, 54);
  width: 0%;
  height: 100%;
}

#racetrack {
  height: 35px;
  background: rgba(124, 122, 122, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
form {
  width: 100%;
  align-items: center;
}
#ex-div {
  display: flex;
}
