@import "main.css";

.card {
    margin: 0px 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
 
.container {
    padding: 2px 16px;
}

a {
    text-decoration: none;
}

p.sleep-goal {
    display:inline-block;
}

h2 {
    text-align:center;
}

.settings-button {
    display:inline-block;
    border:none;
    background-color:white;
    height:0px;
    padding: 0;
    cursor:pointer;
}