@import "dark.css";
@import "light.css";

body {
  background-color: var(--light-bg-color);
  color: var(--light-text);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-bg-color);
    color: var(--dark-text);
  }
  img {
    filter: invert(100%);
  }
}

.card {
  margin: 0px 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 1px solid grey;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

p.sleep-goal {
  display: inline-block;
}

h2 {
  text-align: center;
}

.settings-button {
  display: inline-block;
  border: none;
  background-color: white;
  height: 0px;
  padding: 0;
  cursor: pointer;
}

.input-box {
  width: 15%;
  margin-bottom: 15px;
}

#last-night-sleep {
  display: inline-block;
}

#water {
  background-color: blue;
  width: 0%;
  height: 100%;
}

#glass {
  width: 85vh;
  height: 50px;
  background: rgba(124, 122, 122, 0.2);
  position: relative;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}
