@import "dark.css";
@import "light.css";

body {
  background-color: var(--bg-color);
  color: var(--text);
}

.stat-info {
  background-color: var(--obj-color);
}

@media (prefers-color-scheme: dark) {
  img {
    filter: invert(100%);
  }
  .stat-info {
    background-color: var(--obj-color);
  }
}

main {
  animation: slideUp ease-in 0.5s 1;
}

div.card-container {
  display: grid;
  row-gap: 1em;
  grid-template-columns: auto;
  margin: auto;
}

div.two-grid-card-container {
  display: grid;
  row-gap: 1em;
  grid-template-columns: auto auto;
  margin: auto;
  width: 50vw;
}

div.card {
  width: 20vw;
  margin: auto;
  border: 2px solid grey;
  border-radius: 24px;
  padding: 1em;
  background-color: var(--bg-color);
}

.nutrition-card {
  height: 90% !important;
}

div.quote-card {
  border: 2px solid grey;
  border-radius: 24px;
  padding: 1em;
  width: 45vw;
  margin: 1em auto 1em auto;
}

div.card h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 1em;
}

div.stat {
  border: 2px solid grey;
  border-radius: 10px;
  display: grid;
  padding: 0.5em 1em 0.5em 1em;
  column-gap: 1em;
  width: 75%;
  margin: auto;
  grid-template-columns: auto;
  margin-bottom: 0.5em;
}

div.stat img {
  justify-self: left;
}

div.stat label {
  justify-self: left;
  pointer-events: none;
}

div.stat progress {
  width: 100%;
}

div.stat {
  cursor: pointer;
}

div.stat:hover {
  background-color: rgba(0, 72, 255, 0.187);
}

div.stat-info {
  display: none;
  position: fixed;
  text-align: center;
  border: 2px solid grey;
  border-radius: 24px;
  margin: auto;
  padding: 0.5em 1em 0.5em 1em;
  animation: scaleIn ease-in-out 0.25s 1;
  width: 300px;
  height: 100px;
  position: fixed;
  top: calc(50% - 25px);
  left: calc(50% - 175px);
  opacity: 100% !important;
}

div.overlay {
  display: none;
  backdrop-filter: blur(10px);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
}

div.stat-info input {
  width: 50%;
}

div.icon-and-label {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
}

#author {
  text-align: center;
  margin-top: 1em;
}

#quote {
  text-align: center;
  margin-top: 10px;
}

div.greeting {
  width: 50%;
  margin: auto;
  font-size: 30px;
  text-align: center;
}

@keyframes slideUp {
  0% {
    opacity: 0%;
    transform: translateY(10px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0%;
    transform: scale(0);
  }

  100% {
    opacity: 100%;
    transform: scale(1);
  }
}
