:root {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

/* header {
  overflow: hidden;
  padding: 10px 10px;
  text-align: center;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  background-color: var(--obj-bg-color);
  clear: left;
} */

header {
  width: 100%;
  height: fit-content;
  margin: 0;
  margin-bottom: 1em;
  display: inline-block;
  border-bottom: 2px solid grey;
  background-color: lightgrey;
}

div.nav-links {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 50%;
    margin: auto;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: static;
  top: 0px;
}

header li {
  display: inline;
  float: left;
}

header a {
  display: grid;
  grid-template-columns: auto auto;
  padding: 8px;
  text-decoration: none;
  color: black;
}

header img {
    margin: auto;
}

header li.settings {
    float:right;
}