:root {
  font-family: Arial, Helvetica, sans-serif;
}

@import "dark.css";
@import "light.css";

body {
  background-color: var(--bg-color);
  color: var(--text);
}

body {
  margin: 0;
}

button {
    background-color: rgba(124, 122, 122, 0.2);
    color:var(--text);
    border:none;
    outline:none;
    padding:5px 10px;
    cursor:pointer;
    border-radius:6px;
}

button:hover {
    outline: 1px solid var(--text);
    background-color:var(--alt-obj-color)
}

input {
    border-radius: 24px;
    color: var(--text);
    width: 100px;
    padding: 0px 10px;
    height: 90%;
    margin-bottom: 15px;
    border: none;
    background-color: rgba(124, 122, 122, 0.2);
}

input:focus-visible, input:focus, input:focus-within {
    outline: 1px solid grey;
}

/* header {
  overflow: hidden;
  padding: 10px 10px;
  text-align: center;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  background-color: var(--obj-bg-color);
  clear: left;
} */

header {
  width: 100%;
  height: fit-content;
  margin: 0;
  margin-bottom: 1em;
  display: inline-block;
  border-bottom: 2px solid grey;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header h1 {
  position: absolute;
  top: 15px;
  left: 25px;
  margin: 0;
}

div.nav-links {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 50%;
  margin: auto;
  background-color: var(--bg-color);
}

header a {
  display: grid;
  grid-template-columns: auto auto;
  margin: 8px;
  text-decoration: none;
  color: inherit;
  min-width: 110px;
}

header a.active {
    background-color:var(--obj-color);
    border-radius:24px;
}

header a:hover , a.active:hover{
  background-color: var(--alt-obj-color);
  border-radius: 24px;
}

header a:active {
    background-color: var(--obj-color);
    border-radius:24px;
}

header img {
  margin: auto;
  width: 24px;
  height: 24px;
}

a, a:visited {
  color: inherit;
}

header a.active {
    background-color:var(--obj-color);
    border-radius:24px;
}

div.card {
    box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.15);
}

main {
    animation: slideUp ease-in 0.5s 1;
}

@keyframes slideUp {
    0% {
      opacity: 0%;
      transform: translateY(10px);
    }
    100% {
      opacity: 100%;
      transform: translateY(0px);
    }
  }