:root {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

header {
  overflow: hidden;
  padding: 10px 10px;
  text-align: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  background-color: var(--obj-bg-color);
  clear: left;
}

nav {
  width: 100%;
  height: fit-content;
  margin: 0;
  display: inline-block;
  background-color: #dddddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: static;
  top: 0px;
}

nav li {
  display: inline;
  float: left;
}

nav a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
  text-decoration: none;
  color: black;
}
