:root {
  font-family: Arial, Helvetica, sans-serif;
}

@import "dark.css";
@import "light.css";

body {
  background-color: var(--bg-color);
  color: var(--text);
}

body {
  margin: 0;
}

/* header {
  overflow: hidden;
  padding: 10px 10px;
  text-align: center;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  background-color: var(--obj-bg-color);
  clear: left;
} */

header {
  width: 100%;
  height: fit-content;
  margin: 0;
  margin-bottom: 1em;
  display: inline-block;
  border-bottom: 2px solid grey;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header h1 {
  position: absolute;
  top: 15px;
  left: 25px;
  margin: 0;
}

div.nav-links {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 50%;
  margin: auto;
  background-color: var(--bg-color);
}

header a {
  display: grid;
  grid-template-columns: auto auto;
  margin: 8px;
  text-decoration: none;
  color: inherit;
}

header a:hover {
  background-color: var(--obj-color);
  border-radius: 24px;
}

header img {
  margin: auto;
}

a, a:visited {
  color: inherit;
}
