@import "dark.css";
@import "light.css";

body {
  background-color: var(--bg-color);
  color: var(--text);
}

div.card-container {
  display: grid;
  grid-template-columns: 0.33fr 0.66fr;
  margin: auto;
  width: 75vw;
  column-gap: 1em;
  margin-bottom: 1em;
}

div.card {
  height: 100%;
  width: 90%;
  margin: auto;
  border: 2px solid grey;
  border-radius: 24px;
  padding: 1em;
}

h1.nutrition-title {
  margin: 1em auto 1em auto;
  width: 75%;
}

div.food-card-stats * {
  display: block;
}

div.food-card-stats label {
  font-size: 24px;
  margin-bottom: 0.5em;
  margin-left: 1em;
}

div.food-card-stats progress {
  margin-bottom: 1em;
  border-radius: 24px;
  border: 1px solid black;
  height: 25px;
  width: 90%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 1em;
  background-color: rgba(124, 122, 122, 0.2);
}

div.food-card-stats progress::-webkit-progress-bar {
  border: 1px solid black;
  border-radius: 24px;
}

div.food-card-stats progress::-webkit-progress-value {
  background-color: #0064b4;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
 
.header {
  overflow: hidden;
  padding: 20px 10px;
  text-align: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  background-color: var(--obj-color);
}

.nutrition-title {
    text-align:center;
}

#glass {
  width: 100%;
  height: 55vh;
  background: rgba(124, 122, 122, 0.2);
  position: relative;
  margin: auto;
  overflow: hidden;
  border-radius: 5px 5px 35px 35px;
}
#water {
  width: 100%;
  height: 0%;
  background: rgba(106, 137, 165, 0.4);
  position: absolute;
  bottom: 0;
}
#waterStats {
  width: 50%;
  height: 500px;
  top: 50%;
  position: absolute;
  left: 25%;
}

#water-container {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
#waterTitle {
  text-align: center;
  width: 50%;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-color);
    color: var(--text);
  }
  img {
    filter: invert(100%);
  }

  .header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: var(--obj-color);
  }

  #glass {
    background: rgba(255, 255, 255, 0.2);
  }
  #water {

    background: rgba(106, 137, 165, 0.4);
  }
}
