@import "dark.css";
@import "light.css";

body {
    background-color: var(--bg-color);
    color: var(--text);
}

input {
    display: inline-block;
    width: 30%;
}

label {
    display: inline-block;
    width: 40%;
}

button {
    display: inline-block;
}

form {
    margin: 0;
}

.submit-button {
    width: auto;
}

.label-box {
    margin-top: 15px;
}

div.card-container {
    display: grid;
    column-gap: 1em;
    row-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    width: fit-content;
}

div.card {
    width: 20vw;
    height: 100%;
    margin: auto;
    border: 2px solid grey;
    border-radius: 24px;
    padding: 1em;
}

main h1 {
    width: 70%;
    margin: 1em auto 1em auto;
}