#header {
  background-color: #333;
  overflow: hidden;
  padding: 20px 10px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
