@import "dark.css";
@import "light.css";

body {
  background-color: var(--light-bg-color);
  color: var(--light-text);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-bg-color);
    color: var(--dark-text);
  }
}

.card {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

a {
  text-decoration: none;
}

#time {
  all: 50%;
  padding-left: 5px;
  position: absolute;
}
#workProgress {
  width: 0%;
  height: 10vh;
  background: rgba(0, 255, 13, 0.842);
  border-radius: 5px;
  position: relative;
  bottom: 0;
}
