@import "dark.css";
@import "light.css";

body {
  background-color: var(--bg-color);
  color: var(--text);
}

div.work-progress-background {
  border-radius: 10px;
  background-color: var(--obj-color);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-color);
    color: var(--text);
  }

  img {
    filter: invert(100%);
  }

  div.work-progress-background {
    border-radius: 10px;
    background-color: var(--obj-color);
  }
}

h1.work-title {
  text-align: center;
  width: 35vw;
  margin: 1em auto 1em auto;
}

div.work-progress-card {
  width: 30vw;
  border-radius: 24px;
  padding: 2em;
  margin: auto;
  margin-bottom: 1em;
  background-color: var(--bg-color);
  border: 2px solid grey;
  box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.15);
}

div.work-progress-card h2 {
  margin: 0 auto 0.5em auto;
}

div.task-card {
  border-radius: 24px;
  padding: 2em;
  width: 30vw;
  margin: auto;
  background-color: var(--bg-color);
  border: 2px solid grey;
}

div.task-card input[type="checkbox"] {
  margin-right: 1em;
  margin-bottom: 1em;
}

div.task-card label {
  font-size: 18px;
}

div.task-card-title {
  display: grid;
  grid-template-columns: 0.75fr 0.25fr;
  margin-bottom: 1em;
}

div.task-card-title button {
  margin: 0;
  width: 50%;
  justify-self: right;
}

div.task-card h2 {
  margin: 0;
}

.card {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

a {
  text-decoration: none;
}

#time {
  all: 50%;
  padding-left: 5px;
  position: absolute;
  color: black;
}

#workProgress {
  width: 0%;
  height: 10vh;
  background-color: #0064b4;
  border-radius: 10px;
  position: relative;
  bottom: 0;
  margin-bottom: 1em;
}

@keyframes slideUp {
  0% {
    opacity: 0%;
    transform: translateY(10px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}
